* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

main {
    height: 100vh;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.70), 
            rgba(0, 0, 0, 0.70)
            ),
        url(images/space.jpg);
    background-size: cover;
}

.background-circle {
    height: 150vh;
    width: 88vw;
    position: fixed;
    top: -8vh;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: linear-gradient(50deg, rgba(255,255,255,0.025) 70%, rgba(197,202,233,1) 85%);
}

.astronaut {
    position: fixed;
    height: 72vh;
    width: auto;
    right: 17.5vw;
    top: 14vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 4.5vh 4.5vw 0;
}

nav img {
    height: 65px;
    width: auto;
}

nav li {
    display: inline-block;
}

main > section {
    position: absolute;
    bottom: 16vh;
    left: 4.5vw;
}

main h1 {
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 11px;
}

main h1:last-of-type {
    font-weight: 500;
    margin-bottom: 30px;
}

main p {
    font-size: 17px;
    line-height: 23px;
    max-width: 42%;
    margin-bottom: 65px;
}

.button {
    position: relative;
    background: #6ce5f0;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 24px;
}

footer h6 {
    color: #000;
}